#root > .form {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  overflow-x: hidden;
  width: 500px;

  > .steps {
    display: flex;
    transition-duration: 0.25s;
    transition-property: transform;

    > .step {
      flex: 1;
    }
  }
}
